
{% extends "layout.html" %}
{% block content %}
  <div class="col-md-8">
    <small class="text-muted">{{  '### Current categories: ' }}</small>
        {% for label in labels %}
                <a class="text-info">{{  label }}</a>
                <br />

        {% endfor %}
  </div>

    <div class="col-md-8">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete categories</legend>


                <div class="form-group">
                    {{ form.category_delete.label(class="form-control-label") }}
                    {% if form.category_delete.errors %}
                        {{ form.category_delete(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.category_delete.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.category_delete(class="form-control form-control-lg") }}
                    {% endif %}
                </div>



            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>



{% endblock content %}
